{{ define "main" }}

<header class="header">
    {{- partial "site-header.html" $ -}}
</header>

<main class="main">
    <div class="">

        <article class="{{ if not (.Param "feature_image") }} no-image {{ end }}">
  

            {{ if .Param "feature_image" }}
            <figure class="single__thumbnail">
                <img src="{{ .Param "feature_image" }}" alt="{{ .Title }}" />
            </figure>
            {{ end }}

            <div class="single__content">

                <div class="single__main">
                {{ with .Params.tags }}
                    {{ $primaryTag := (index . 0) }}
                    <section class="tags">
                        <a href="{{ "/tags/" | relLangURL }}{{ $primaryTag | urlize }}">{{ $primaryTag }}</a>
                    </section>
                {{ end }}

                    <h1>{{ .Title }}</h1>
                    <section class="content">
                        <div class="content__inner">
                            {{ .Content }}
                        </div>
                        
                        {{- partial "share.html" $ -}}
                       
                    </section>
                </div>

                {{- partial "aside.html" $ -}}
               
            </div>
            {{ $related := .Site.RegularPages.Related . | first 3 }}
            {{ with $related }}
            <section class="related-post">
               <div class="section__content">

                <div class="section__row">
                    
                    
                    <h3>you may also like</h3>
                    <ul class="related-post__wrapper">
                        {{ range . }}
                        <li class="related-post__item">
                            <a href="{{ .RelPermalink }}">
                            <img src="{{ .Params.feature_image }}" alt="{{ .Title }}">
                            {{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                  
                    
                </div>
               </div>
            </section>

            {{ end }}

            {{- partial "comments.html" $ -}}

               <!-- {{ if .Param "summary" }}
                    <div class="excerpt">{{ .Summary }}</div>
                {{ end }} 

                <div class="byline">
                    <section class="byline-content">

                        {{ if .Param "author" }}
                          
                        {{ end }}

                        <section class="byline-meta">
                            {{ if .Param "author" }}
                                <h4 class="author-name">{{ .Param "author" }}</h4>
                            {{ end }}
                            <div class="byline-meta-content">
                                <time class="byline-meta-date" datetime="{{.Date.Format "2006-31-01"}}">{{.Date.Format "2 January 2006"}}</time>
                                <span class="byline-reading-time"><span class="bull">&bull;</span> {{ .ReadingTime }} min read</span>
                            </div>
                        </section>

                    </section>
                </div>  -->
           

        </article>

    </div>
</main>



{{ end }}