<section class="section comments">
  <div class="section__content">
    <div class="comments__total">
      2 comments
    </div>
    <div class="comments__item">
      <div class="comments__ava">
        <img
          src="http://via.placeholder.com/100x100"
          alt=""
        />
      </div>
      <div class="comments__text">
        <h4 class="comments__title">
          John Doe
        </h4>
        <div class="comments__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo!
        </div>
        <a href="#" class="comments__btn">Reply</a>
      </div>
    </div>
    <div class="comments__item">
      <div class="comments__ava">
        <img
          src="http://via.placeholder.com/100x100"
          alt=""
        />
      </div>
      <div class="comments__text">
        <h4 class="comments__title">
          Jane Doe
        </h4>
        <div class="comments__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque.
        </div>
        <a href="#" class="comments__btn">Reply</a>
      </div>
    </div>
    <div class="comments__item">
      <div class="comments__ava">
        <img
          src="http://via.placeholder.com/100x100"
          alt="{{ .Title }}"
        />
      </div>
      <div class="comments__text">
        <textarea
          name=""
          id=""
          cols="30"
          rows="3"
          placeholder="Join the discussion"
        ></textarea>
      </div>
    </div>
  </div>
</section>
<section class="soc__block">
  <p class="soc__title">Connected with</p>
  <nav class="soc">
    <a href="#" class="soc__link"><i class="fa-brands fa-twitter"></i></a>
    <a href="#" class="soc__link"><i class="fa-brands fa-facebook-f"></i></a>
  </nav>
</section>
