{{ $data := index .Site.Data .Site.Language.Lang }} 
{{ if $data.common.section_1.enable }}
{{ with $data.common.section_1 }}
<section class="section hero">
  <div class="section__content">
    <article class="article">
      <div class="article__thumbnail">
        
        <div class="owl-carousel">
          <img src="{{ .thumbnail | relURL }}" alt="{{ .title }}" />
          <img src="{{ .thumbnail | relURL }}" alt="{{ .title }}" />
          <img src="{{ .thumbnail | relURL }}" alt="{{ .title }}" />
        </div>
      
     


      </div>
      <div class="article__cart">
        <div class="article__cat">
          {{ .cat | truncate 50 }}
        </div>
        <h1 class="article__title">
          {{ .title }}
        </h1>
        <div class="article__content">
          {{ .description }}
        </div>
        <div class="article__btn">
          <a href="{{ .btn.url }}">{{ .btn.title }}</a>
        </div>
      </div>
    </article>
  </div>
</section>
{{ end }} {{ end }}
