<article class="post
{{ if not (.context.Param " feature_image") }} no-image {{ else }} {{ if (eq (mod .index 2) 0) }} {{ end }} {{ end }} ">

      <div class=" post__wrap">
    {{ if .context.Param "feature_image" }}
    <a class="post__link" href="{{ .context.Permalink }}" target="_blank">
        <img class="post__image" src="{{ .context.Param "feature_image" }}" alt="{{ .context.Title }}" />
    </a>
    {{ end }}

    <div class="post__content">

        <a class="post__link" href="{{ .context.Permalink }}" target="_blank">

            <header class="post__header">
                {{ with .context.Params.tags }}
                {{ $primaryTag := (index . 0) }}
                <div class="post__cat">{{ $primaryTag }}</div>
                {{ end }}

                <h2 class="post__title">{{ .context.Title }}</h2>
            </header>
        </a>
        <section class="post__description">
            <p>{{ .context.Summary | truncate 150 }}</p>
        </section>

    </div>

    </div>

</article>