<nav class="nav__menu">
  
        {{ if $.Site.Params.logo  }}
            <a class="nav__logo" href="{{ $.Site.BaseURL }}"><img src="{{ $.Site.Params.logo | relURL }}" alt="{{ $.Site.Title }}" {{ if $.Site.Params.logo_w  }} width="{{ $.Site.Params.logo_w }}" {{ end }}/></a>
        {{ else }}
            <a class="nav__logo" href="{{ $.Site.BaseURL }}">{{ $.Site.Title }}</a>
        {{ end }}
        
        
            <ul class="nav" role="menu">
                {{ range $.Site.Menus.header }}
                <li class="nav__link" role="menuitem"><a href="{{ .URL }}">{{- .Name -}}</a></li>
                {{ end }}
            </ul>
        
        
   
</nav>

